body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  padding: 1rem 0;
  margin: 0;
  background-color: #4CAF50;
  color: white;
  font-size: 1.8rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#map {
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.leaflet-popup-content-wrapper {
  font-size: 0.9rem;
}

.leaflet-popup-content b {
  color: #4CAF50;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
    padding: 0.8rem 0;
  }

  #map {
    height: 70vh;
  }
}

.leaflet-routing-container {
    display: none !important;
}